# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache/

# C extensions
*.so

# Old directory
old/

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask
instance/
.webassets-cache

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# dotenv (environment variables)
.env

# virtualenv
.venv/
venv/
ENV/
env/
venv.bak/
venv.bak/

# mypy (type checker cache)
.mypy_cache/

# Pyre (type checker cache)
.pyre/

# Ignore VSCode settings
.vscode/
.idea/

# Azure-related files
.azure/
tmp/

# Database files
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/
*.ipynb
